@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

 body {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: rgb(235, 236, 242);
      }
      .center {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }
      .nav {
        width: 90%;
        height: fit-content;
        box-sizing: border-box;
        position: relative;
        z-index: 1000;
        background: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .shop-hover {
        position: relative;
      }
      .logo {
        width: fit-content;
        font-family: poppins;
        font-size: 32px;
        color: white;
        font-weight: 600;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      #menu {
        display: none;
      }
      .logo label {
        display: none;
      }
      .nav-bar {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .link-underline {
  width: 100px;
  padding: 10px 18px 0.2rem;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5mm;
  font-family: Poppins;
  font-size: 16px;
  color: white;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}


      @media screen and (max-width: 650px) {
        .nav {
          flex-direction: column;
        }
        .nav .logo {
          width: 100%;
          
        }
        .nav .logo label {
          display: block;
          cursor: pointer;
          position: relative;
          width: 30px;
          height: 30px;
        }
        .nav .logo label::before {
          position: absolute;
          content: "menu";
          font-family: "Material Icons";
          top: 0;
          left: 0;
          
          font-size: 30px;
        }
        .nav .nav-bar {
          width: 100%;
          flex-direction: column;
          max-height: 0;
          overflow: hidden;
          transition: 0.5s ease-in-out;
        }
        .nav .link-underline {
          width: 100%;
          padding: 15px;
          border-radius: 0;
          border-top: 0.5mm solid rgb(52, 53, 71);
        }
        #menu:checked ~ .nav-bar {
          max-height: 500px;
        }
        #menu:checked ~ .logo label::before {
          content: "close";
        }
      }



    /* Dropdown */
    .shop-box {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.39); 
      border: 1px solid rgba(0, 0, 0, 0.53); 
      display: flex;
      gap: 2.5rem; // 40px
      padding: 1.25rem 1.875rem; // 20px 30px
      border-radius: 0.375rem; // 6px
      z-index: 999;
      min-width: 18.75rem; // 300px

      .shop-column {
        display: flex;
        flex-direction: column;

        h4 {
          color: #fff;
          font-size: 1rem; // 16px
          margin-bottom: 0.625rem; // 10px
          background-color: transparent;
        }

        a {
          padding: 0.375rem 0; // 6px 0
          font-size: 1.1875rem; // 19px
          text-decoration: none;
          color: white;
          background-color: transparent;
          transition: all 0.2s ease;

          &:hover {
            color: #fff;
            padding-left: 0.3125rem; // 5px
            border-radius: 0.25rem; // 4px
            cursor: pointer;
          }
        }
      }
    }
  @media (max-width: 1200px) {
  .shop-box {
    display: none !important;
  }
}


  /* Button */
  .s-b {
    background-color: #6b0d0d;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem; // 8px 16px
    font-size: 1.1875rem; // 19px
    border-radius: 2.1875rem; // 35px
    cursor: pointer;
    transition: 0.3s ease-out;
    font-family: "Abel", sans-serif;

    &:hover {
      background-color: #7e0101;
      transform: scale(1.05);
    }

    a {
      color: white;
      text-decoration: none;
    }
  }


