<footer class="footer">
 <div class="logo" routerLink="/" style="cursor: pointer;">PC SHOP</div> 

  <div class="footer-columns">
    <div>
      <ul>
        <li><strong>Got questions?</strong> </li>
       
        <li> 01234567</li>
        <li>Georgia, Tbilisi</li>
      </ul>
    </div>

    <div>
      <ul>
        <li><a href="https://github.com/" target="_blank"><img src="../icon1.png" alt=""></a></li>
        <li><a href="" target="_blank"><img src="../icon2.png" alt=""></a></li>
        <li><a href="" target="_blank"><img src="../icon3.png" alt=""></a></li>
      </ul>
    </div>

    <div>
      <ul>
        <li><a routerLink="/privacy">Privacy</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
      </ul>
    </div>
  </div>

  <p class="copy">© 2025 Hanni. All rights reserved.</p>
</footer>
