@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}
.footer{
width: 100%;
padding: 40px 7%;
display: flex;
flex-direction: column;
gap: 40px;
  
.logo{
      color: #6b0d0d;
      font-size: 34px;
      text-align: left;
      font-weight: bold;
}

}
.footer-columns{ 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;

    ul{
        list-style: none;
        font-size: 17px;
        line-height: 54px;
        color: white;
    img{
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }
        strong{
            font-size: larger;
        }

        a{
         color: white;
         text-decoration: none;
         font-size: 21px;
        }
    }
}
