@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

.service-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 40px 20px;
  background: #000000;
  box-shadow: 0 4px 40px 20px  rgba(130, 18, 18, 0.537);
  border-radius: 15px;
  color: #eaeaea;
}

h1 {
  font-size: 32px;
  margin-bottom: 5px;
  color: #fff;
}

.subtitle {
  color: #888;
  margin-bottom: 40px;
  text-align: center;
}

.service-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.service-card {
  background: #2c0505;
  padding: 25px;
  border-radius: 10px;
  transition: 0.2s;
  border: 1px solid #2d0808;
}

.service-card h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.service-card p {
  line-height: 1.6;
  color: #ccc;
}

.service-card:hover {
  background: #000000;
  transform: translateY(-5px);
  border-color: #260505;
}
