@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

.login-container{
    justify-content: center;
    background-color: rgb(42, 3, 3);
    box-shadow: 0 4px 12px 0px rgba(130, 18, 18, 0.684);
    width: 350px;
    height: 300px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
  
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    &:hover{
        text-decoration: underline;
    }
  }
h2{
    color: white;
}
.input{
   background-color: black;
     box-shadow: 0 4px 12px 0px rgba(5, 0, 0, 0.684);
    color: white;
    border: none;
    font-family: Montserrat, sans-serif;
    border-radius: 30px;
    height: 30px;
    width: 200px;
    padding: 20px;

}

.r-c{
    color: black;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 150px;
}
button{
    background-color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    border-radius: 30px;
    height: 40px; background-color: #6b0d0d; 
    border: none;
    width: 90px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: rgb(200, 200, 200);
        transform: scale(1.05);
        background-color: #7e0101;
            color: white;
            transform: scale(1.05);
    }
}
