<div class="center">
<div class="container">
<div class="login-container"><h2>register</h2>                                        
<form (ngSubmit)="onSignup()">
  <input [(ngModel)]="user.username" name="username" placeholder="Username" class="input" required />
  <input [(ngModel)]="user.email" name="email" placeholder="Email" class="input"/>
  <input [(ngModel)]="user.password" name="password"  class="input" placeholder="Password" type="password" />
  <a routerLink="/login">already have an account?</a>
  <button type="submit">Sign Up</button>
</form>
</div></div>

</div>