@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}
.container{
  width: 90%;
  margin: auto;
}
.m-c {
  display: flex;
  justify-content: space-around;  
gap: 50px;
}


/* Put grid on the right side */
.products-grid {
  display: flex;
  flex-direction: column; // list layout
  gap: 50px;
  width: 350px;           // so it stays compact on the right
}

/* cards styling */
.product-card {
  background-color: rgba(0, 0, 0, 0.591);
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px 0px rgba(130, 18, 18, 0.684);
line-height: 8px;
}

.product-card img {
  width: 60%;
  height: auto;
}

/* Detail box stays on the left */
.detail-box {
  display: flex;
  height: 40vh;
  box-shadow: 0 4px 12px 0px rgba(130, 18, 18, 0.684);
  width: 100vh;
  border-radius: 40px;
  margin: 30px 0px;
  
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #6b0d0d;
    border: none;
    color: white;
    transition: 0.3s all;
    font-size: 16px;
}
h3 {
      font-size: 1.1rem;
      margin-bottom: 0.2rem;
    }

    .brand {
      font-size: 0.9rem;
    }

    .price {
      font-weight: 600;
      color: #e63946;
      margin-top: 0.3rem;
      font-size: 1rem;
    }
.detail-box img{
  width: 45%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .m-c {
    flex-direction: column;
    align-items: center;
  }

  .products-grid {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;  
      display: flex;
    flex-direction: column;

  }

  .product-card {
    width: 200px;
    height: auto;

  }

  .detail-box {
    width: 60%;
    flex-direction: column;
    height: auto;
    text-align: center;
    align-items: center;
  }

  .detail-box img {
    width: 50%;
    margin-bottom: 20px;
  }
  
}
